*, body {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
    text-align: center;
    
  }

  .listRes ul li {
      margin-top: 5px;
      background-color:aqua;
      font-size: 18px;
      text-align: left;
      list-style-type: square;
    
  }