*, body {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
    text-align: center;
    margin: 0px;
    padding: 0px;
    color: black;
    box-sizing: border-box;
  }

  

  